.container{
    padding: 3%;
    width: 100%;
}
.content{
    margin: auto;
    
    width: 100%;
}
.aside{
    widows: 400px;;
}
.app-title{
    color: whitesmoke;
    text-align: center
}
.profile-pannel{
    
    background-color: aliceblue;
    padding: 0%;
    margin: 0%;
}
.command-menu{
    background-color: aliceblue;
    padding: 0%;
    margin: 0%;
}
.other-mess{
    color: white;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: snow;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid snow;
    border-radius: 10px;
}
.own-mess{

    color: #004d99;
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #97C6E3;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}
.chat_title{
    color: white;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.chat-back{
    height: 300px;
}
.chat_title-panel{
    position: fixed;
    background-color: #004d99;
    width: 36.5%;
    padding: 5px;
    z-index: 1;
}
.message-inp{
    position: fixed;
    bottom: 0;
    width: 36.5%;
    margin-bottom: 65px;
}
.chat_view{
    position: relative;
    top: 50px;
}
.chat_panel{
    /* position: relative; */
}