.container{
    padding: 3%;
    width: 100vw;
    margin-top: -50px;
    text-align: center;
}
.content{
    /* margin: auto;  */

    /* width: 100vh */
}
.layout{
    /* width: 100vh */
    
}
.aside{
    widows: 400px;;
}
.app-title{
    color: whitesmoke;
    text-align: center;
    position: relative;
}
.profile-pannel{
    background-color: #394a60;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid dimgray;
}
.name-style{
    color: #3fc0ef;
    text-align: center;
    padding: 1px;
}
.white-txt{
    color: white;
    text-align: center;
    padding: 1px;
}
.command-menu{
    background-color: aliceblue;
    padding: 0%;
    margin: 0%;
}
.other-mess{
    color: black;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: snow;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid snow;
    border-radius: 10px;
}
.own-mess{

    color: white;
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 5px;
    background-color: #97C6E3;
    width: 200px;
    height: 50px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}
.chat_title{
    position: absolute;
    color: white;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.chat-back{
    height: 300px;
}
.message-inp{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 65px;
}

.chat-item{
    padding: 15px;
    border-bottom: 10px solid white;
    border-top :1px solid white;
}

.chat-panel{
    position: relative;
    /* display: flex;
    flex-direction: column; */

}
.chat-panel-title{
    position: fixed;
    background-color: #004d99;
    z-index: 1;
}
.chat-view{
    top: 50px;
}
.message-inp{
    position: fixed;
}